---
title: Blogs
layout: default
description: 您可在此通过Tag分类找到对应Blog
header-img: "img/tag-bg.jpg"
---

<style type="text/css">
header.intro-header {
    position: relative;
    background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}');
}

{% if site.header-mask %}
header.intro-header .header-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0, {{ site.header-mask }});
}
{% endif %}
</style>

<!-- Page Header -->
<header class="intro-header">
    <div class="header-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <!-- 标签云 -->
			<div id='tag_cloud' class="tags">
				<!-- 专门分类：R18与全年龄 -->
{% assign special_tags = "R18,全年龄" | split: "," %}
{% for tag in special_tags %}
  {% if site.tags[tag] %}
    <div class="one-tag-list special">
      <span class="fa fa-tag listing-seperator" id="{{ tag }}">
        <span class="tag-text">{{ tag }}</span>
      </span>
      {% for post in site.tags[tag] %}
        <div class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
              <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% endif %}
          </a>
        </div>
        <hr>
      {% endfor %}
    </div>
  {% endif %}
{% endfor %}

<!-- 这里插入分割线 -->
<hr style="border-top:2px solid #bbb; margin:40px 0;">

<!-- 其余标签 -->
{% for tag in site.tags %}
  {% unless tag[0] == "R18" or tag[0] == "全年龄" %}
    <div class="one-tag-list">
      <span class="fa fa-tag listing-seperator" id="{{ tag[0] }}">
        <span class="tag-text">{{ tag[0] }}</span>
      </span>
      {% for post in tag[1] %}
        <div class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
              <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% endif %}
          </a>
        </div>
        <hr>
      {% endfor %}
    </div>
  {% endunless %}
{% endfor %}
			</div>

            <!-- 标签列表 -->
			{% for tag in site.tags %}
			<div class="one-tag-list">
			  	<span class="fa fa-tag listing-seperator" id="{{ tag[0] }}">
                    <span class="tag-text">{{ tag[0] }}</span>
                </span>
				{% for post in tag[1] %}
				  <!-- <li class="listing-item">
				  <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
				  <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
				  </li> -->
				 <div class="post-preview">
				    <a href="{{ post.url | prepend: site.baseurl }}">
				        <h2 class="post-title">
                            {{ post.title }}
				        </h2>
				        {% if post.subtitle %}
				        <h3 class="post-subtitle">
				            {{ post.subtitle }}
				        </h3>
				        {% endif %}
				    </a>
				    <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
				</div>
				<hr>
				{% endfor %}
			</div>
			{% endfor %}

		</div>
	</div>
</div>
