---
title: Blogs
layout: default
description: 您可在此通过Tag分类找到对应Blog
header-img: "img/tag-bg.jpg"
---

<style type="text/css">
/* 标签云特殊标签样式 */
.tags .tag-r18,
a.tag-r18 {
    background: #e74c3c !important; /* 红色 */
    color: #fff !important;
}
.tags .tag-allage,
a.tag-allage {
    background: #27ae60 !important; /* 绿色 */
    color: #fff !important;
}
.special-tag {
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 4px;
    margin-right: 5px;
    display: inline-block;
}
</style>

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}');">
    <div class="header-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{{ page.title }}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <!-- 标签云 -->
			<div id='tag_cloud' class="tags">
                {% assign special_tags = "R18,全年龄" | split: "," %}
                {% for special in special_tags %}
                    {% if site.tags[special] %}
                        <a href="#{{ special }}" title="{{ special }}" rel="{{ site.tags[special].size }}" class="special-tag {% if special == 'R18' %}tag-r18{% elsif special == '全年龄' %}tag-allage{% endif %}">{{ special }}</a>
                    {% endif %}
                {% endfor %}
                {% for tag in site.tags %}
                    {% unless special_tags contains tag[0] %}
                        <a href="#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">{{ tag[0] }}</a>
                    {% endunless %}
                {% endfor %}
			</div>

            <!-- 标签列表 -->
			{% for tag in site.tags %}
			<div class="one-tag-list">
			  	<span class="fa fa-tag listing-seperator" id="{{ tag[0] }}">
                    <span class="tag-text">{{ tag[0] }}</span>
                </span>
				{% for post in tag[1] %}
				 <div class="post-preview">
				    <a href="{{ post.url | prepend: site.baseurl }}">
				        <h2 class="post-title">{{ post.title }}</h2>
				        {% if post.subtitle %}
				        <h3 class="post-subtitle">{{ post.subtitle }}</h3>
				        {% endif %}
				    </a>
				</div>
				<hr>
				{% endfor %}
			</div>
			{% endfor %}

		</div>
	</div>
</div>